.Painting {
  width: 100%;
  img {
    width: 90vw;
  }
  h2 {
    font-size: 3rem;
    text-align: center;
  }

  p {
    font-size: 1.5rem;
  }

  .holder {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .holder div {
    padding: 2vw;
  }

  @media (orientation: landscape) {
    img {
      width: 50vw;
    }

    .holder {
      justify-content: start;
      display: flex;
      flex-direction: row;
    }
  }
}
